.juan__control {
  background: black;
}

.create_artist__control {
  background: #111319 !important;
  padding: 4px !important;
  border-radius: 6px !important;
  border: 1px solid #707484 !important;
  outline: none imp !important;
  cursor: pointer;
}
.create_artist__option--is-focused {
  cursor: pointer !important;
}
.create_artist__control--is-focused {
  box-shadow: none !important;
}
.create_artist__control--menu-is-open {
  outline: none !important;
  box-shadow: none !important;
}

.create_artist__single-value,
.create_artist__option,
.create_artist__input,
.create_artist__placeholder {
  color: #9ca3af !important;
}
.create_artist__option--is-selected {
  background: #000 !important;
}

.create_artist__option--is-focused {
  background: #0c0c0c !important;
  color: #9ca3af !important;
}

.create_artist__menu {
  background-color: #191919 !important;
  border-radius: 0px !important;
}

/* MultiValue */

.create_artist__multi-value {
  background: #2b2b2b !important;
  margin-right: 5px !important;
  box-shadow: 0px 2px 3px #080808 !important;
  margin-bottom: 8px !important;
}
.create_artist__multi-value__label {
  color: #fff !important;
}
.create_artist__multi-value__remove:hover {
  background-color: #080a12 !important;
  border-radius: 0 !important;
  color: #ec373a !important;
}

/* Scroll */

/* width */
.nice_scroll::-webkit-scrollbar,
.ReactModal__Content::-webkit-scrollbar,
.create_artist__menu-list::-webkit-scrollbar,
.react-tel-input .country-list::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.nice_scroll::-webkit-scrollbar-track,
.ReactModal__Content::-webkit-scrollbar-track,
.create_artist__menu-list::-webkit-scrollbar-track,
.react-tel-input .country-list::-webkit-scrollbar-track {
  background: #afafaf;
}

/* Handle */
.nice_scroll::-webkit-scrollbar-thumb,
.ReactModal__Content::-webkit-scrollbar-thumb,
.create_artist__menu-list::-webkit-scrollbar-thumb,
.react-tel-input .country-list::-webkit-scrollbar-thumb {
  background: #585858;
}

/* Handle on hover */
.nice_scroll::-webkit-scrollbar-thumb:hover,
.ReactModal__Content::-webkit-scrollbar-thumb:hover,
.create_artist__menu-list::-webkit-scrollbar-thumb:hover,
.react-tel-input .country-list::-webkit-scrollbar-thumb:hover {
  background: #3a3939;
}
.create_artist__control {
  border-color: none !important;
  box-shadow: none !important;
}

/* React phone input2 */

.react-tel-input {
  padding-left: 0 !important;
}
.react-tel-input input {
  width: 90% !important;
  text-align: center !important;
}

.react-tel-input .flag-dropdown {
  border-radius: 5px !important;
}

.react-tel-input .flag-dropdown .open {
  background: none !important;
}

.react-tel-input .country-list .country.highlight {
  background-color: #1f232d !important;
}
.react-tel-input .country-list .country:hover {
  background-color: #232735 !important;
}
.react-tel-input .selected-flag:hover {
  background-color: #1f232d !important ;
  border-radius: 10px 0 0 0 !important;
}

.react-tel-input .selected-flag .arrow {
  border-left: 5px solid transparent !important;
  border-right: 5px solid transparent !important;
  border-top: 6px solid #555 !important;
  top: 48% !important;
}
.react-tel-input .selected-flag {
  width: 42px !important;
  border-right: 2px solid #41444f !important;
}
